body,
html {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-repeat: no-repeat;
    justify-content: center;
}
body {
    /* background-image: url("/storage/img/background3.jpg"); */
    background: linear-gradient(to bottom right, #151a23, #626f84) !important;
    background-size: cover;
    background-repeat: no-repeat;
}
.jumbotron {
    /* background-color:; */
    border-radius: 5px;
    background-color: #212529;
    color: #fff;
    /* font-size: 6vw; */
    opacity: 0.9;
}
.mainMenu {
    background-color: #626f84;
    border-radius: 5px;
    padding-bottom: 4em;
}
.mainMenu h1 {
    color: #fff;
    padding: 0.5em;
    font-weight: 400;
}
.mainMenu a {
    text-decoration: none;
}
.mainMenu ul {
    list-style-type: none;
}
.mainMenu ul a {
    background-color: #fff !important;
}

.mainMenu ul a:hover {
    background-color: #feffef !important;
}
.mainMenu a:hover {
    text-decoration: none;
}

button.exit {
    width: 50%;
    margin: auto;
}

div.user_icon {
    display: flex;
    padding-left: 0;
    margin-left: 0;
}

div.user_name {
    margin: auto;
}

div.user_contact {
    margin: auto;
}
/* div.credit {
	font-size: 0.5em;
} */
.container.float-center {
    background: #fff;
}
